body {
font-family: "Lucida Console", "Courier New", doublespace ;
font-size: 24px;

  margin: 0;
  background-color: #66ff66;

  color: #996699;
}

div {
  background-color: #669966;
  border: solid;
padding: 24px;
}

p {

}
.myDiv {

height: 777px;
  width: 777px;
}

.yoDiv {
  background-color: #996699;
  color: #669966;

  height: 444px;
  width: 777px;
  margin-left: 777px;

}

.donchu {
  height:250px;
  width:200px;
}

.digipet {
  height: 42px;
  width: 42px;
}

.crab {
  height: 444px;
  width: 444px

}

h1 {
  margin-top: 0;
  text-align: center;
}


#yup {
  height: 377px;


}

#kuma {
height: 600px;
}
